/***************************** ELEMENT SELECTORS *****************************/


h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', 'cursive';
  font-size: 90px;
  color: #66BFBF;
  line-height: 2;
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

span {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #11999E;
  padding-right: 40px;
  font-family: 'Montserrat';
  font-weight: bold;
}

a:hover {
  color: #EAF6F6;
}

hr {
  border: none;
  border-top: dotted;
  width: 5%;
  border-width: 7px;
  border-color: lightgrey;
}

/***************************** CLASS SELECTORS *****************************/

.top-container {
  padding-top: 100px;
  position: relative;
  background-color: #e8ffff;
}

.skills {
  font-weight: bold;
  margin-top:100px;
}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 40px;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
 position: absolute;
 left: 300px;
 bottom: 300px;
}

.self-pic {
  width: 50%;
  margin-top: 30px;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.mower-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.code-img {
  width: 25%;
  float: right;
  margin-left: 30px
}

.profile {
  width: 30%;
  margin: 100px auto 100px auto;
  font-weight: bold;
  line-height: 2;
}

.contact-me {
  width: 40%;
  margin: 100px auto;
  font-weight: bold;
  line-height: 2;
}

.contactMeButton {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #349C9C);
   background-image: -moz-linear-gradient(top, #66BFBF, #349C9C);
   background-image: -ms-linear-gradient(top, #66BFBF, #349C9C);
   background-image: -o-linear-gradient(top, #66BFBF, #349C9C);
   background-image: -webkit-gradient(to bottom, #66BFBF, #349C9C);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: 'Montserrat';
   font-size: 16px;
   font-weight: 300;
   padding: 10px;
   border: none;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 30px auto 30px auto;
}

.contactMeButton:hover {
   border: none;
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #74F3F3);
   background-image: -moz-linear-gradient(top, #66BFBF, #74F3F3);
   background-image: -ms-linear-gradient(top, #66BFBF, #74F3F3);
   background-image: -o-linear-gradient(top, #66BFBF, #74F3F3);
   background-image: -webkit-gradient(to bottom, #66BFBF, #74F3F3);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}

.copyright {
  color: #EAF6F6;
  font-size: 12px;
  padding-bottom: 40px;
  padding-top: 20px;
}


#getInTouch {
  margin-top: 60px;
  margin-bottom: 10px;
}
